backend/flow.yaml
id: cyber-remediator-ops
namespace: com.cyber.ops
inputs:
  - name: user_email
    type: STRING
    required: true

tasks:
  - id: analyze_exposure
    type: io.kestra.plugin.scripts.python.Script
    script: |
      import requests
      print(f"Analyzing exposure for {inputs.user_email}")
      # Simulated HIBP Check
      exposure_score = 85
      print(f"::set-output name=score::{exposure_score}")

  - id: risk_decision
    type: io.kestra.core.tasks.flows.Switch
    value: "{{ outputs.analyze_exposure.vars.score > 50 }}"
    cases:
      "true":
        - id: rotate_aws_keys
          type: io.kestra.plugin.aws.iam.CreateAccessKey
          userName: "compromised-user"
        
        - id: notify_user
          type: io.kestra.plugin.notifications.mail.MailSend
          subject: "URGENT: Automated Key Rotation"
          to: "{{ inputs.user_email }}"
          htmlText: "We detected a breach. Your keys have been rotated."

  - id: deploy_to_cloud
    type: io.kestra.plugin.scripts.python.Script
    description: "Synchronize local remediation flows with the Aegis Enterprise Kestra Cloud instance."
    script: |
      import requests
      import json
      import os

      # Configuration for Kestra Cloud API
      CLOUD_API_URL = "https://api.kestra.io/v1"
      # In a real scenario, this token is stored in Kestra's secure secret store
      API_TOKEN = "{{ secret('KESTRA_CLOUD_TOKEN') }}"
      NAMESPACE = "com.cyber.ops"
      
      print(f"Fetching current flow configuration for deployment...")
      
      # Headers for Kestra Cloud Authentication
      headers = {
          "Authorization": f"Bearer {API_TOKEN}",
          "Content-Type": "application/json"
      }

      # Deployment Logic: Synchronizing the remediation blueprint to the cloud
      # This enables 'Remediation-as-a-Service' across multiple regions
      print(f"Deploying flow definitions to Kestra Cloud for namespace: {NAMESPACE}")
      
      try:
          # Simulation of the REST call to Kestra Cloud Import API
          # In production, we would use the 'io.kestra.plugin.core.flow.Import' task
          # or a direct POST to the /api/v1/flows/import endpoint.
          print("Connecting to cloud gateway...")
          print("Verifying namespace permissions...")
          print("Successfully synchronized 'cyber-remediator-ops' with Kestra Cloud.")
      except Exception as e:
          print(f"Cloud Deployment Failed: {str(e)}")
          exit(1)