backend/flow.yaml
id: cyber-remediator-ops
namespace: com.cyber.ops

inputs:
  - name: user_email
    type: STRING
    required: true
  - name: threat_log
    type: STRING
    defaults: "Suspicious login attempt detected from unrecognized IP address."

tasks:
  # 1. AI AGENT ANALYSIS (Wakanda Data Award Feature)
  # This task uses Gemini 1.5 to analyze the context and decide the risk level.
  - id: analyze_threat
    type: io.kestra.plugin.google.gemini.Chat
    model: "gemini-1.5-flash"
    apiKey: "{{ secret('GEMINI_API_KEY') }}"
    prompt: |
      You are a Cyber Security AI. Analyze this security log for user {{ inputs.user_email }}:
      "{{ inputs.threat_log }}"
      
      Decide the risk level based on the severity.
      Return ONLY one word: "CRITICAL" or "WARNING".

  # 2. LOGIC SWITCH
  # Routes the workflow based on the AI's decision.
  - id: remediation_logic
    type: io.kestra.core.tasks.flows.Switch
    value: "{{ outputs.analyze_threat.choices[0].message.content | trim }}"
    cases:
      "CRITICAL":
        - id: log_critical
          type: io.kestra.core.tasks.log.Log
          message: "🚨 AI DETECTED CRITICAL THREAT. INITIATING ISOLATION PROTOCOLS."

        - id: isolate_container
          type: io.kestra.plugin.docker.Run
          image: ubuntu:latest
          commands:
            - echo "Isolating network namespace for user {{ inputs.user_email }}..."
            - echo "Revoking active sessions..."
            - sleep 2
            - echo "REMEDIATION COMPLETE: Infrastructure Secured."

      "WARNING":
        - id: log_warning
          type: io.kestra.core.tasks.log.Log
          message: "⚠️ AI classified this as a Warning. Logging for audit."

        - id: notify_admin
          type: io.kestra.core.tasks.log.Log
          message: "Sending email alert to admin@aegis.com regarding {{ inputs.user_email }}."